
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="
    margin-top: 77px;
">
    <div id="sidebar-wrapper" style="z-index: 10000;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand navbar-list">
                <img src="../assets/images/logo.png">
            </li>
            <li style="margin-top: 25px">
                <a href="/branch/"><span class="glyphicon glyphicon-home glyphi" aria-hidden="true"></span>&nbsp;Dashboard</a>
            </li>
            <li>
                <a href="/closureBranch/"><span class="glyphicon glyphicon-time glyphi" aria-hidden="true"></span>&nbsp;Closure</a>
            </li>
            <li>
                <a href="/dormancy/"><span class="glyphicon glyphicon-briefcase glyphi" aria-hidden="true"></span>&nbsp;Dormancy</a>
            </li>
            <!--<li>-->
                <!--<a href="https://mail.google.com/mail/u/0/?logout&hl=en"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> &nbsp; <img src="https://mail.google.com/mail/u/0/?logout&hl=en" /> </a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/configure/"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Configure </a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/invoiceView/"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Invoice </a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/otr/"><span class="glyphicon glyphicon-retweet glyphi" aria-hidden="true"></span>OTR</a>-->
            <!--</li>-->
            <li>
                <a href="javascript:void(0)" onclick="signOut()" class="navbar-list"><span class="glyphicon glyphicon-off glyphi" aria-hidden="true"></span>Logout</a>
            </li>
        </ul>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
            window.location="/login/"
        });
    }
    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }
</script>
<script >
//    function logoutg() {
//        var accessToken="436438133634-0qvjo41r5nu9rgjhfeo68ejrpgge5dqn.apps.googleusercontent.com";
//        $.ajax({
//            type: 'GET',
//            url: "https://accounts.google.com/o/oauth2/revoke?token=" + accessToken,
//            async: false,
//            contentType: "application/json",
//            dataType: 'jsonp',
//            success: function(nullResponse) {
//                alert(nullResponse);
//                alert("G")
//                    window.location="/logout/";
//            },
//            error: function(e) {
//                alert("Something went wrong, Please try again later")
//                // Handle the error
//                // You could point users to manually disconnect if unsuccessful
//                // https://plus.google.com/apps
//            }
//        })
//    }
    </script>
<script>
</script>
