<html>
<head>
	<meta name="google-signin-client_id"
         content="436438133634-0qvjo41r5nu9rgjhfeo68ejrpgge5dqn.apps.googleusercontent.com">
    <title>JustBooksCLC</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/sidebar.css" rel="stylesheet">
    <style type="text/css">
        .dataTables_scrollBody {
            margin-top: -40px;
        }

        .DTFC_LeftBodyWrapper {
            top: -19px !important;
            height: 392px !important;
        }

    </style>
</head>
<body>
{{> branch_sideBar }}
<div class="container">
    <div id="wrapper">

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="sticky-anchor"></div>
                <div id="sticky" style="position: fixed; z-index: 1000;width: 82%;">
                    <div class="row tile_count" style="margin-top: -97px;">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="background-color: #EDEDED;
    border-bottom: thick solid salmon;">

                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="padding-top: 17px;">
                                <img src="../assets/images/web_branch.png" class="home_top_img">
                                <span class="count_top">Total Signups</span>
                                <div class="count loader" id="web_branch" ></div>
                                <span class="count_bottom"></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="padding-top: 17px;">
                                <img src="../assets/images/dd.png" class="home_top_img">
                                <span class="count_top">Total Renewals</span>
                                <div class="count loader" id="dd" ></div>
                                <span class="count_bottom"></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="padding-top: 17px;">
                                <img src="../assets/images/circulation.png" class="home_top_img">
                                <span class="count_top">Non-Active Users</span>
                                <div class="count loader" id="circulation" ></div>
                                <span class="count_bottom"></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="padding-top: 17px;">
                                <img src="../assets/images/collection.png" class="home_top_img">
                                <span class="count_top">Average Signup Period</span>
                                <div class="count loader" id="collection" ></div>
                                <span class="count_bottom"></span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="padding-top: 17px;">
                                <img src="../assets/images/book_added.png" class="home_top_img">
                                <span class="count_top">Average Renewal Period</span>
                                <div class="count loader" id="added"></div>
                                <span class="count_bottom"></span>
                            </div>

                        </div>
                    </div>
                    <br/>
                    <!--<hr />-->
                    <!--<div class="row tile_count">-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="background-color: #F7F7F7;">-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--<img src="../assets/images/collection.png" class="home_top_img">-->
                    <!--<span class="count_top">Renewal Revenue</span>-->
                    <!--<div class="count loader" id="circulation" style="font-size: 17px;"></div>-->
                    <!--<span class="count_bottom">Current Month</span>-->
                    <!--</div>-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--<img src="../assets/images/renewals.png" class="home_top_img">-->
                    <!--<span class="count_top">Renewal Count</span>-->
                    <!--<div class="count loader" id="collection" style="font-size: 17px;"></div>-->
                    <!--<span class="count_bottom">Current Month</span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="../assets/images/dd.png" class="home_top_img">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_top">Total DD Request</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="count loader" id="dd"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_bottom">Corporate Vs Branches</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="../assets/images/reviews.png" class="home_top_img">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_top">OTR</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="count loader" id="otrcount"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_bottom">Current Month</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->


                    <!--&lt;!&ndash;<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="../assets/images/book_added.png" class="home_top_img">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_top">Books Added</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="count loader" id="added"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_bottom">Current Month</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="../assets/images/amount.png" class="home_top_img">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_top">Collection Share</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="count loader" id="collected" style="font-size: 15px;"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="count" id="collected1" style="font-size: 15px;"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="count_bottom">Current Month</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--<img src="../assets/images/active.png" class="home_top_img">-->
                    <!--<span class="count_top">Active Users</span>-->
                    <!--<div class="count loader" id="active_users" style="font-size: 20px;"></div>-->
                    <!--<span class="count_bottom">Current Month</span>-->
                    <!--</div>-->

                    <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--<img src="../assets/images/wishlist.png" class="home_top_img">-->
                    <!--<span class="count_top">OTR Collection</span>-->
                    <!--<div class="count loader" id="otrvalue"></div>-->
                    <!--<span class="count_bottom">Current Month</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="row center_section" style="width: 110%;margin-top: 10%">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div id="fn_signups_year_compare_branch" class="loader1"></div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div id="fn_renew_year_compare_branch" class="loader1"></div>
                    </div>


                </div>

                <br><br>
                <div class="row center_section" style="width: 110%;margin-top: 10%">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div id="fn_colc_year_compare_branch" class="loader1"></div>
                    </div>
                    <!--<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">-->
                        <!--<div id="fn_renew_year_compare_branch" class="loader1"></div>-->
                    <!--</div>-->


                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/highchart/highcharts.js"></script>
<script src="../assets/js/highchart/highcharts-3d.js"></script>
<script src="../assets/js/highchart/modules/exporting.js"></script>
<script src="../assets/js/chart_api.js?v=1"></script>
<script src="../assets/js/branch.js?v=1"></script>
<script src="../assets/js/jquery.tablesorter.js"></script>
<script src="../assets/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<script src="../assets/js/dataTables.fixedCol.js"></script>
<script>
    $(document).ready(function () {
        $("#ibt_data").DataTable({
            "fixedColumns": {
                'leftColumns': 1
            },
            "paging": false,
            "searching": false,
            "showNEntries": false,
            "bInfo": false,
            scrollX: true,
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [1, 2, 3, 4, 5, 6, 7, 8]
                }

            ]
        });
        $("#dd_data").DataTable({
            "fixedColumns": {
                'leftColumns': 1
            },
            scrollX: true,
            "paging": false,
            "searching": false,
            "showNEntries": false,
            "bInfo": false,
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [1, 2, 3, 4, 5, 6, 7, 8]
                }

            ]
        });
    });
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('li:contains("Dashboard")').addClass('active').addClass('navbar-list');

</script>
</html>
