<html>
<head>
    <title>JustBooksCLC</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/sidebar.css" rel="stylesheet">
    <style type="text/css">
        .dataTables_scrollBody {
            margin-top: -40px;
        }
        .DTFC_LeftBodyWrapper {
            top: -19px !important;
            height: 392px !important;
        }
        span.multiselect-native-select {
            position: relative
        }
        span.multiselect-native-select select {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            height: 1px !important;
            margin: -1px -1px -1px -3px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important;
            left: 50%;
            top: 30px
        }
        .multiselect-container {
            position: absolute;
            list-style-type: none;
            margin: 0;
            padding: 0
        }
        .multiselect-container .input-group {
            margin: 5px
        }
        .multiselect-container > li {
            padding: 0
        }
        .multiselect-container > li > a.multiselect-all label {
            font-weight: 700
        }
        .multiselect-container > li.multiselect-group label {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: 700
        }
        .multiselect-container > li.multiselect-group-clickable label {
            cursor: pointer
        }
        .multiselect-container > li > a {
            padding: 0
        }
        .multiselect-container > li > a > label {
            margin: 0;
            height: 100%;
            cursor: pointer;
            font-weight: 400;
            padding: 3px 0 3px 30px
        }
        .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
            margin: 0
        }
        .multiselect-container > li > a > label > input[type=checkbox] {
            margin-bottom: 5px
        }
        .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }
        .form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
            padding: 3px 20px 3px 40px
        }
        .form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
            margin-left: -20px;
            margin-right: 0
        }
    </style>
</head>
<body>
{{> sidebar }}
<div class="container" style="margin-left: 16%;display:none">
    <h2>Configure branch and E-mail addresses</h2>
    <div class="row center_section" style="margin-left: 8%;width: 110%;margin-top: 6%">
        <form class="form-inline " name="update_form" action="/updated_configure/" method="post">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            &nbsp;
            <div class="form-group" style=" padding-left: 3%; margin-top: -1.5%;padding-right: 3%">
                <label class="control-label" for="rolename">Branch</label>
                <div>
                    <select class="form-control" id="sel1" name="select" required >
                        {{# branches}}
                            <option value="{{ID}}">{{BRANCHNAME}} , {{ID}}</option>
                        {{/ branches}}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
        </form>
        <br><hr>
        <div id="row">
            <h3>Configured Users</h3>
            <div class="col-md-10 col-lg-10 col-sm-6 col-xs-6" id="tableDiv" style="margin-left: -6%;background-color: white;padding-top: 2%; display: none" >
                <table class="table table-striped table-responsive table-bordered" style="margin-top: 20px;font-size: 13px;" id="usersTable">
                    <thead style="background-color: #1ABB9C;color: white;" id="tableData">
                    <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">ID</th>
                    <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Email</th>
                    <th  style="padding-top: 0%; padding-bottom: 2.5%;"  class="text-center">Branch ID</th>
                    <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">ROLE</th>
                    <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Edit</th>
                    <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Delete</th>
                    <!--<th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Save</th>-->
                    <!--<th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Delete</th>-->
                    </thead>
                    <tbody style="color: #73879C;">
                    {{# data}}
                        <tr>
                            <td class="text-center">{{ID}}</td>
                            <td class="text-center">{{EMAIL}}</td>
                            <td class="text-center" class="bid" >{{BRANCH_ID}}</td>
                            <td class="text-center">{{ROLE}}</td>
                            <td class="text-center">
                                <button class="editbtn" id="{{ID}}">Edit</button>
                            </td>
                            <td class="text-center"><span style="cursor: pointer; cursor: hand; " class='glyphicon glyphicon-trash' onclick='deleteID(this,{{ID}});'></span></td>
                        </tr>
                    {{/ data}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.tablesorter.js"></script>
<script src="../assets/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<script src="../assets/js/branch.js"></script>
<script src="../assets/js/dataTables.fixedCol.js"></script>
<script src="../assets/js/drop.js?v=1"></script>
<script type="text/javascript">
    $(function () {
        $('.multiselect-ui').multiselect({
            includeSelectAllOption: true
        });
$(".container").show()
    });
</script>
<script>
    $(document).ready(function () {
        $("#tableDiv").show();
    });
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('li:contains("Configure")').addClass('active').addClass('navbar-list');
</script>
</html>
