<html>
<head>
    <title>JustBooksCLC</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="../assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../assets/css/buttons.dataTables.min.css">
    <style type="text/css">
        .dataTables_scrollBody {
            margin-top: -40px;
        }

        .DTFC_LeftBodyWrapper {
            top: -19px !important;
            height: 392px !important;
        }

        /*.dt-buttons{*/
        /*margin-left: 17%;*/
        /*margin-top: -4%;*/
        /*}*/
        /*div#dormancy_DR_filter{*/
        /*float: right;*/
        /*margin-top: -3%;*/
        /*}*/
        /*li.litag{*/
        /*padding-left: 8%;*/
        /*padding-right: 8%;*/
        /*background-color: antiquewhite;*/
        /*border: thin solid grey;*/
        /*}*/

    </style>
</head>
<body>
{{> sidebar }}
<div  class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="load"></div>
<div class="alert alert-success alert-dismissable" style="display:none;margin-left: 12%" id="alert">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong>Success!</strong> Updated the IBT.
</div>
<div class="container">

  <div id="wrapper">
      <div class="row center_section col_summary_div" style="margin-top: 31px;">
          <legend>Invoice Summary {{from}} to {{to}} </legend>

          <div class="row" style="margin-left: 10px;float: none; margin-left: auto;margin-right: auto;">
              <form id="form" action="/invoiceView/" role="form" method="POST" class="form-horizontal">
                  <label for="from">From :&nbsp;&nbsp;</label>
                  <input type="text" id="from" readonly required="required" name="from">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label for="to">To :&nbsp;&nbsp;</label>
                  <input type="text" id="to" readonly required="required" name="to">
                  &nbsp;&nbsp;
                  <input type="submit" class="btn btn-primary" value="submit" name="submit"/>
              </form>
          </div>

          <button type="button" class="btn btn-default " style="margin-left: 5%;" onclick="updateIBT('{{from}}','{{to}}')"> Update IBT</button>
          <br><hr>

      </div>
<div id="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="tableDiv" style="margin-left: 4%;background-color: white;padding-top: 2%; display: none" >
        <table class="table table-striped table-responsive table-bordered" style="margin-top: 20px;font-size: 13px;" id="closure">
            <thead style="background-color: #1ABB9C;color: white;">
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Download</th>
            <th  style="padding-top: 0%; padding-bottom: 2.5%;"  class="text-center">ID</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Branch Name</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Owned By</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Branch Type</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Hire Charges Collected</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Registration Fee</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Security Deposit</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Security Refund</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Book Penalty</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Retention</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Misc Income</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">CC Charges</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Misc Cost</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">IBT Payable</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">EDC Charges</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Hire Charges</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">IBT Receivable</th>
            <th style="padding-top: 0%; padding-bottom: 2.5%;" class="text-center">Card Fee</th>


            </thead>
            <tbody style="color: #73879C;">
            {{# data}}
                <tr>
                    <td class="text-center"> <a href="/pdfGenerate?get={{BID}}&from={{from}}&to={{to}}">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a></td>
                    <td class="text-center">{{BID}}</td>
                    <td class="text-center" >{{BRANCHNAME}}</td>
                    <td class="text-center">{{OWNED_BY}}</td>
                    <td class="text-center" >{{BRANCH_TYPE}}</td>
                    <td class="text-center">{{HIRE_CHARGES_COLLECTED}}</td>
                    <td class="text-center" >{{REGISTRATION_FEE}}</td>
                    <td class="text-center">{{SECURITY_DEPOSIT}}</td>
                    <td class="text-center">{{SECURITY_REFUND}}</td>
                    <td class="text-center">{{BOOK_PENALTY}}</td>
                    <td class="text-center">{{RETENTION}}</td>
                    <td class="text-center">{{MISC_INCOME}}</td>
                    <td class="text-center">{{CC_CHARGES}}</td>
                    <td class="text-center">{{MISC_COST}}</td>
                    <td class="text-center">{{IBT_PAYABLE}}</td>
                    <td class="text-center">{{EDC_CHARGES}}</td>
                    <td class="text-center">{{HIRE_CHARGES}}</td>
                    <td class="text-center">{{IBT_RECEIVABLE}}</td>
                    <td class="text-center">{{CARD_FEE}}</td>



                </tr>
            {{/ data}}
            </tbody>
        </table>
    </div>

</div>



  </div>
</div>
</body>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<!--<script src="../assets/js/highchart/highcharts.js"></script>-->
<!--<script src="../assets/js/highchart/highcharts-3d.js"></script>-->
<!--<script src="../assets/js/highchart/modules/exporting.js"></script>-->
<script src="../assets/js/chart_api.js?v=1"></script>
<script src="../assets/js/branch.js?v=1"></script>
<script src="../assets/js/jquery.tablesorter.js"></script>
<script src="../assets/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/dataTables.bootstrap.min.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<script src="../assets/js/dataTables.fixedCol.js"></script>
<script src="../assets/js/dataTables.buttons.min.js"></script>
<script src="../assets/js/buttons.flash.min.js"></script>
<script src="../assets/js/jszip.min.js"></script>
<script src="../assets/js/chart_api.js?v=1"></script>
<script src="../assets/js/pdfmake.min.js"></script>
<script src="../assets/js/buttons.html5.min.js"></script>
<script src="../assets/js/buttons.print.min.js"></script>
<script>

    $(document).ready(function () {
        var table = $("#closure").DataTable({
            scrollX: true,
            dom: 'lBfrtip',
            buttons: [
                'csv', 'excel'
            ]
        });
        $("#tableDiv").show();
        var dateObj=new Date();
        var year=dateObj.getFullYear();
        var month=dateObj.getMonth()+1;
        var date=dateObj.getDate();
//        var today_date=date+'-'+month+'-'+year;
        if(date.toString().length <= 1) {
            date = '0' + date;
        }
        var today_date=year+'-'+month+'-'+date
        $( "#from" ).datepicker({
            dateFormat:'dd-M-yy',
            changeMonth: true,
            onClose: function( selectedDate ) {
                $( "#to" ).datepicker( "option", "maxDate", "0" );
            }
        }).val();
        $( "#to" ).datepicker({
            dateFormat:'dd-M-yy',
            changeMonth: true,
            onClose: function( selectedDate ) {
                $( "#from" ).datepicker( "option", "maxDate", "0" );
            }
        }).val();
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('li:contains("Delivery")').addClass('active').addClass('navbar-list');

    function updateIBT(val,to){
        $("#load").addClass("loader1");
        $.ajax({
            type: "POST",
            url: "/updateIBT/",
            data: {'from': val,'to':to},
            async: true,
            dataType: 'json',
            enctype: 'multipart/form-data',
            cache: false,
            success: function (data) {
                console.log(data);
                $("#alert").show()
                $("#load").removeClass('loader1')


            },
            error: function (err) {
                console.log(err.responseText);
                $("#load").removeClass('loader1');
                $("#alert").show()





            }
        });




    }

</script>
</html>